.vscode
.DS_Store
/pl0
/pl0.o
/maketap
/maketap.o
examples/*.z80
examples/*.lst
examples/*.com
examples/*.dot
examples/*.tap
examples/*.bin
tests/*.z80
tests/*.lst
tests/*.com
tests/*.dot
tests/*.tap
tests/*.bin

